<div class="portfolio-modal modal fade show" role="dialog" style="display: block; position: static;">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
<h5 class="text-uppercase">ブログ編集</h5>
<%= render 'form' %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
