<div class="container">
  <section class="main-header">
    <h1>ph3App</h1>
  </section>
  <br>
  <section>
    <p>ph3Appの機能を実装します。</p>
  </section>
  <section>
    <h3>合格条件</h3>
    <p class="condition">
      <input type="checkbox"> Railsシリーズ課題で作成したアプリに機能を追加する形で実装すること<br>
      <input type="checkbox"> Bootstrapを導入すること（グリッドシステムを導入すること）<br>
      <input type="checkbox"> HTML,CSSで最低限のデザインを導入すること（背景色、コンテンツの配置に違和感が内容にすること）<br>
      <input type="checkbox"> トップ画面を作成すること（トップ画面にはアプリのイメージ画像（好きなもので可）と、アプリの説明文を入れること）<br>
      <input type="checkbox"> レスポンシブデザインにすること（カラムを作成すること）<br>
      <input type="checkbox"> ボタン要素には、Bootstrapで任意のボタンデザインを実装すること<br>
      <input type="checkbox"> （ヘッダーとフッターを作成し、layoutとして配置すること。背景などに色をつけること。任意の画像を貼ること）<br>
    </p>
  </section>
</div>
