<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">&nbsp;</div>
      <div class="intro-heading text-uppercase">&nbsp;</div>
    </div>
  </div>
</header>
