.mn-012 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  white-space: nowrap
}

@media (max-width: 500px) {
  .mn-012 {
    padding-left: 0
  }
}

.nvft001 {
  background: #fafafa;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  padding: 16px 44px 20px;
  text-align: center
}

.nvft001.nvft002 {
  left: 0;
  bottom: 0;
  position: fixed;
  z-index: 4;
  background-color: rgba(0,0,0,.8);
  border: 0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  width: 100%;
  padding-left: 16px;
  padding-right: 16px
}

.nvft002 .nvft021 {
  right: 0
}

.nvft002 .nvft032 {
  margin: 0 auto 5px
}

.nvft002 .nvft041,.nvft002 .nvft042 {
  color: #fff
}

.nvft002 .nvft053 {
  margin-bottom: -10px
}

.nvft011 {
  margin: 0 auto;
  max-width: 614px;
  position: relative;
  width: 100%
}

.nvft021 {
  position: absolute;
  right: -28px;
  top: 0;
  z-index: 1
}

.nvft041 {
  font-weight: 600
}

.nvft042 {
  color: #999;
  margin-top: 6px
}

.nvft051 button {
  margin-top: 8px
}

.nvft052 {
  display: block;
  position: relative
}

.nvft053 button {
  color: #3897f0;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 4px
}

.nvft061 {
  -webkit-appearance: none;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  outline: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%
}

.nvft061:active {
  opacity: .7
}

.nvft062 {
  background: #3897f0;
  border-color: #3897f0;
  color: #fff
}

.nvft063 {
  padding: 0 12px
}

.nvft064 {
  cursor: pointer
}

.nvft065 {
  background: 0 0;
  border: 0;
  color: #003569;
  font-weight: 400
}

@media (min-width: 736px) {
  .nvft051 {
    display:inline-block
  }
}

@media (min-width: 876px) {
  .nvft001.nvft002 {
    height:100px;
    bottom: 0;
    padding-top: 20px
  }

  .nvft002 .nvft011,.nvft002 .nvft011 .nvft022 {
    max-width: none;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
  }

  .nvft002 .nvft011 .nvft022 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    max-width: 944px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    height: 64px;
    width: 100%;
    margin-left: 7px
  }

  .nvft002 .nvft032 {
    margin-left: 0;
    max-width: 376px;
    text-align: left;
    white-space: normal
  }

  .nvft002 .nvft033 {
    display: inherit
  }

  .nvft002 .nvft051 {
    margin-right: 7px
  }
}

#close-btn {
  display: block;
  color: white;
  white-space: nowrap;
  cursor: pointer
}

img.idx-w {
  width: 100%;
}

div#error_explanation {
  color: red;
}

.commit-btn { /*
  float: left; */
}
.back-btn { /*
  margin-left: 12px; */
}

.notice {
  color: #1400ffab;
}
