/*
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline
}

body {
  line-height: 1
}

ol,ul {
  list-style: none
}

blockquote,q {
  quotes: none
}

blockquote:after,blockquote:before,q:after,q:before {
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

article,div,footer,header,main,nav,section {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border: 0 solid #000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  position: relative
}

body {
  overflow-y: scroll
}

body:-webkit-full-screen {
  height: 100%;
  width: 100%
}

body:-moz-full-screen {
  height: 100%;
  width: 100%
}

body:-ms-fullscreen {
  height: 100%;
  width: 100%
}

body:fullscreen {
  height: 100%;
  width: 100%
}

html {
  -webkit-text-size-adjust: 100%
}

body,html {
  height: 100%
}

#react-root {
  z-index: 0
}

body,button,input,textarea {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 18px
}

a,a:visited {
  color: #003569;
  text-decoration: none
}

a:active {
  opacity: .5
}
*/

.mn-012 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-left: 24px;
  white-space: nowrap
}
@media (max-width: 500px) {
  .mn-012 {
    padding-left: 0
  }
}

._mainc {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row
}
.main01 {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-ordinal-group: 5;
  -webkit-order: 4;
  -ms-flex-order: 4;
  order: 4
}
.main02 {
  background-color: #fafafa
}
.main11 {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 0 auto 30px;
  max-width: 935px;
  width: 100%
}
@media (min-width: 736px) {
  .main11 {
    -webkit-box-sizing:content-box;
    box-sizing: content-box;
    padding: 60px 20px 0;
    width: calc(100% - 40px)
  }
}

.sc-01 {
  color: #262626;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  min-width: 0
}

.sc-12 {
  display: block
}

.sc-12:empty {
  display: none
}

.sc-11,.sc-21 {
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  min-width: 0
}

.sc-11 {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row
}

.sc-21 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

@media (min-width: 736px) {
  ._mainc {
    margin-bottom: 44px
  }

  .sc-01 {
    -webkit-flex-basis: 30px;
    -ms-flex-preferred-size: 30px;
    flex-basis: 30px;
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
    -ms-flex-positive: 2;
    flex-grow: 2
  }

  .sc-11 {
    margin-bottom: 20px
  }

  .sc-12 {
    font-size: 16px;
    line-height: 24px;
    word-wrap: break-word
  }

  .sc-21 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 200
  }

  .cnvs01 {
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-right: 30px
  }
}

@media (max-width: 735px) {
  ._mainc {
    margin: 30px 16px
  }

  .sc-01 {
    -webkit-flex-basis:0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
  }

  .sc-11 {
    margin-bottom: 12px
  }

  .sc-12 {
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    padding: 0 16px 21px;
    text-overflow: ellipsis
  }

  .sc-21 {
    font-size: 22px;
    line-height: 26px
  }

  .cnvs01 {
    margin-right: 28px
  }
}

.cnvs01 {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}

.cnvs11 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  display: block;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none
}

.cnvs21 {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none
}

.cnvs22 {
  background-color: #fafafa;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  overflow: hidden;
  position: relative
}

.cnvs22::after {
  border: 1px solid rgba(0,0,0,.0975);
  border-radius: 50%;
  bottom: 0;
  content: "";
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0
}

.pict01 {
  height: 100%;
  width: 100%
}

.ft-00 {
  background-color: #fafafa;
  -webkit-box-ordinal-group: 6;
  -webkit-order: 5;
  -ms-flex-order: 5;
  order: 5;
  padding: 0 20px
}
.ft-01 {
  font-size: 12px;
  font-weight: 600;
  margin: 0 auto;
  text-transform: uppercase;
  max-width: 935px;
  width: 100%
}
@media (min-width: 876px) {
  .ft-02 {
    -webkit-box-orient:horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 38px 0
  }
}
@media (max-width: 875px) {
  .ft-02 {
    padding:10px 0;
    text-align: center
  }
}

.mn-001 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 9999 0%;
  -ms-flex: 1 9999 0%;
  flex: 1 9999 0%;
  min-width: 40px;
  height: 31px
}

.mn-011 {
/*margin-right: 12px;
  margin-top: -4px; */
  margin-top: 0px;
  margin-left: 70px;
  height: 35px;
  max-width: 100%;
  overflow: hidden;
  position: relative
}

.mn-002 {
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0%;
  -ms-flex: 1 0 0%;
  flex: 1 0 0%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end
}

a.mn-022,a.mn-022:visited {
  color: #3897f0;
  font-weight: 600;
  line-height: 28px
}

.mn-022 {
  font-size: 16px
}
@media (max-width: 768px) {
  .mn-022 {
    font-size: 14px
  }
}

.nvft001 {
  background: #fafafa;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  padding: 16px 44px 20px;
  text-align: center
}

.nvft001.nvft002 {
  left: 0;
  bottom: 0;
  position: fixed;
  z-index: 4;
  background-color: rgba(0,0,0,.8);
  border: 0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  width: 100%;
  padding-left: 16px;
  padding-right: 16px
}

.nvft002 .nvft021 {
  right: 0
}

.nvft002 .nvft032 {
  margin: 0 auto 5px
}

.nvft002 .nvft041,.nvft002 .nvft042 {
  color: #fff
}

.nvft002 .nvft053 {
  margin-bottom: -10px
}

.nvft011 {
  margin: 0 auto;
  max-width: 614px;
  position: relative;
  width: 100%
}

.nvft021 {
  position: absolute;
  right: -28px;
  top: 0;
  z-index: 1
}

.nvft041 {
  font-weight: 600
}

.nvft042 {
  color: #999;
  margin-top: 6px
}

.nvft051 button {
  margin-top: 8px
}

.nvft052 {
  display: block;
  position: relative
}

.nvft053 button {
  color: #3897f0;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 4px
}

.nvft061 {
  -webkit-appearance: none;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  outline: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%
}

.nvft061:active {
  opacity: .7
}

.nvft062 {
  background: #3897f0;
  border-color: #3897f0;
  color: #fff
}

.nvft063 {
  padding: 0 12px
}

.nvft064 {
  cursor: pointer
}

.nvft065 {
  background: 0 0;
  border: 0;
  color: #003569;
  font-weight: 400
}

@media (min-width: 736px) {
  .nvft051 {
    display:inline-block
  }
}

@media (min-width: 876px) {
  .nvft001.nvft002 {
    height:100px;
    bottom: 0;
    padding-top: 20px
  }

  .nvft002 .nvft011,.nvft002 .nvft011 .nvft022 {
    max-width: none;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
  }

  .nvft002 .nvft011 .nvft022 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    max-width: 944px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    height: 64px;
    width: 100%;
    margin-left: 7px
  }

  .nvft002 .nvft032 {
    margin-left: 0;
    max-width: 376px;
    text-align: left;
    white-space: normal
  }

  .nvft002 .nvft033 {
    display: inherit
  }

  .nvft002 .nvft051 {
    margin-right: 7px
  }
}

#close-btn {
  display: block;
  color: white;
  white-space: nowrap;
  cursor: pointer
}

